body, html {
    height: 100%;
    /* overflow: hidden; */
  }
* {
    box-sizing: border-box;
  } 
@media (min-width: 601px) {
    body{font-size: 1rem;}
  }
  
@media (max-width: 600px) {
    div{font-size: 0.8rem;}
  } 
@media (max-width: 600px) {
    .btn{width: 80px;}
}
.mainImg{
    background-color: slategrey;
    background-image: url('/images/bg.jpg');
    filter: blur(4px);
    -webkit-filter: blur(2px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.row{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 59.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 35%;
    padding: 20px;
}

a:hover{
    text-decoration-color:rgb(147, 255, 147);
}
.btn{
  background-color: green;
  color: #f1f1f1;
  opacity: 0.9;
}
.btn:hover {
  background-color: green;
  opacity: 1;
}
